html {
    width: 300;
    margin: 0 auto;
}
.counter {
    background-color: white;
    font-family: courier;
    font-size: 50;
    height: 100;
    width: 142;
    text-align: center;
}
input {
    height: 100;
    width: 142;
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    background-color: white;
}
.pressed {
    color: blue;
}
