html {
    background-color: lightGray;
    width: 300;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.counter {
    background-color: white;
    font-family: courier;
    font-size: 90;
    height: 100;
    width: 142;
    text-align: right;
}
button {
    height: 100;
    width: 142;
}
.pressed {
    color: blue;
}
