body {
    margin: 100 auto;
    text-align: center;
    background-color: black;
    color: white;
}
a {
    color: white;
}
#display {
    color: white;
    font-size: 50pt;
}
button {
    font-size: 15pt;
    background-color: white;
    border: none;
    padding: 10px 20px;
}
svg {
    display: block;
    margin: 0 auto;
}
